@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Outfit", sans-serif;
}

input:-webkit-autofill {
  background-color: #1E293B !important; 
  -webkit-text-fill-color: #E2E8F0 !important; 
  box-shadow: 0 0 0px 1000px #1E293B inset !important; 
  transition: background-color 5000s ease-in-out 0s;
}


input {
  background-color: transparent; 
  color: black; 
  outline: none;
  border: 1px solid #D1D5DB; 
}

img {
  display: block;
  visibility: visible; 
}


button, input {
  outline: none;
}


input,
button {
  transition: all 0.3s ease;
}
